@import '../../styles/config.scss';

$display_height: 70px;

.screen {
    width: 100%;
    color: $blue;
}

.screen__display {
    border: 1px solid $blue;
    width: 120px;
    height: $display_height;
    border-radius: 3px;
    margin: 0 auto;
}

.screen__text {
    text-align: center;
    line-height: $display_height;
    margin: 0;
}

.screen__mount {
    border: 1px solid $blue;
    height: 10px;
    width: 20px;
    margin: -1px auto 0 auto;
}

.screen__lowermount {
    border-bottom: 1px solid $blue;
    width: 45px;
    height: 1px;
    margin: -2px auto 0 auto;
}
